:focus {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}
body {
    background: #97a7e1;
    font-family: 'Montserrat', sans-serif;
}
.bg-blue {
    background: #463acb;
    color: #fff;
}
.form-center {
    width: 1100px;
    margin: auto;
    padding-top: 60px;
}
.form-center .bg-white,
.form-center .bg-blue {
    padding: 50px 40px;
}
.form-center .bg-white h3,
.form-center .bg-blue h3 {
    margin-bottom: 15px;
}
.form-center .bg-white h3 {
    color: #463acb;
}
.form-center .bg-white {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.form-center .bg-blue {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.form-center input,
.form-center select {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    background-color: unset;
    color: #909294;
}
.form-center input[type=checkbox] {
    border: 1px solid #fff;
}
.form-center .bg-blue input,
.form-center .bg-blue select {
    color: #fff;
    border-bottom: 1px solid #dee2e6;
}
.form-center .bg-white input::placeholder {
    color: #909294;
}
.form-center .bg-blue input::placeholder {
    color: #fff;
}
.btn-submit {
    border: none;
    background: #fff;
    color: #000;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 30px;
}